.button {
  font: inherit;
  padding: 0.3rem 0.5rem;
  border: 1px solid #ffff;
  border-radius: 10px 10px 10px 10px;
  color: #048f65;
  background: #ffffff;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 500ms ;

}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #048f65;
  border-color: #ffffff;
  color:#ffff;
  box-shadow: 0 0 9px rgba(255, 255, 255, 0.26);
  padding: 0.3rem 0.8rem;
  transition: all 200ms ;
  
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}

.badge {
  background-color: #048f65;
  padding: 0.1rem 0.6rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
  color: #ffffff;
}
.button:hover .badge,
.button:active .badge {
  background-color: #ffff;
  color: #048f65;
}
